.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

@media only screen and (max-width: 500px) and (max-height: 950px) {
    img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 500px) and (min-height: 950px) {
    img {
        width: 250px;
        height: 250px;
    }
}

img:hover {
    box-shadow: 0 0 10px rgb(245, 223, 57);
    cursor: pointer;
}

.crop-left {
    object-position: 90% 0;
}

.crop-right {
    object-position: 30% 0;
}